.person {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #F2841F;
  border-radius: 20px;
  background-color: #200505;
  padding-top: 5px;
  min-height: 190.3px;
}

.text {
  display: block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  color: #F2841F;
}

.button_pag {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #F2841F;
  border-radius: 30px;
  padding: 10px;
  max-width: 100px;
  background-color: #200505;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: min-content;
  color: #F2841F;
}

.button_pag:hover {
  background-color: #F2841F;
  color: #200505;
}

.button_pag:disabled {
  color: white;
  background-color: #a3a3a3;

}

.count {
  color: #F2841F;
  padding: 10px;
  border: 1px solid #F2841F;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
}

.pag {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center
}